<div class="outer-wrapper">
  <section class="content-section profile-section" ng-include="'views/partials/components/profile_details.html'"></section>
  <section class="content-section bikes-section" ng-include="'views/partials/components/bikes_detail.html'"></section>
  <section class="content-section experience-section" ng-include="'views/partials/components/experience_details.html'"></section>
  <section class="content-section recommended-trails" ng-include="'views/partials/components/profile_trail_details.html'"></section>
  <section class="content-section review-section" ng-include="'views/partials/components/review_details.html'"></section>
</div>
