<section class="login-form form-section">
  <form class="form" action="/api/login" method="post">
    <div class="form-group">
      <label class="label">Email</label>
      <input class="text-input" type="email" name="email" name="email" required>
    </div>
    <div class="form-group">
      <label class="label">Password</label>
      <input class="text-input" type="password" name="password" name="password" required>
    </div>
    <div class="form-group">
      <button type="submit">Submit</button>
    </div>
  </form>
</section>
