<!-- title: String,
coords: {
  lat: Number,
  lng: Number
}, // long, lat
city: String,
featuredImg: {type: Schema.Types.Mixed},
keywords: [String],
profile: {
  description: String,
  fitnessLevel: String,
  skillLevel: String,
  access: String,
},
rating: [Number] -->
<div class="outer-wrapper">
  <section class="content-section style-headline"></section>

  <section class="content-section trail-details" ng-include="'views/partials/components/trail_section.html'"></section>

  <section class="content-section access-section" ng-include="'views/partials/components/access_template.html'"></section>

  <section class="content-section review-section" ng-include="'views/partials/components/review_details.html'"></section>
</div>
