// TRAIL GUIDE main.scss
// author: Brian Wynn
// version: 1.0


// import any stylesheet dependencies
@import 'https://fonts.googleapis.com/css?family=Oxygen:300,400,700';
$fa-font-path: "/libs/font-awesome/fonts";
@import '../libs/font-awesome/scss/font-awesome.scss';

@font-face {
  font-family: "FontAwesome";
  src: url("../libs/font-awesome/fonts/fontawesome-webfont.eot");
  src: url("../libs/font-awesome/fonts/fontawesome-webfont.svg");
  src: url("../libs/font-awesome/fonts/fontawesome-webfont.ttf");
  src: url("../libs/font-awesome/fonts/fontawesome-webfont.woff");
  src: url("../libs/font-awesome/fonts/fontawesome-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}

// import local styles
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "elements/global_elements";
@import "elements/typography";
@import "elements/buttons";
@import "elements/images";
@import "elements/forms";
@import "components/header";
@import "components/footer";
@import "components/maps";
@import "components/stars";
@import "components/reviews";
@import "modules/alerts";
@import "modules/modals";
@import "modules/login_signup";
@import "modules/dashboard";
@import "modules/query_form";
@import "modules/trail_list";
