@import "https://fonts.googleapis.com/css?family=Oxygen:300,400,700";
body {
  font-family: "Oxygen", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #2f2f2f;
  background-color: #FDFFFD; }

div, section {
  margin: 0;
  padding: 0; }

.main-body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; }
  .main-body .outer-wrapper {
    width: inherit;
    min-height: inherit; }
    .main-body .outer-wrapper .content-section {
      width: 100%;
      min-height: 135px; }
      @media only screen and (min-width: 950px) {
        .main-body .outer-wrapper .content-section {
          min-height: 281.25px; } }
      .main-body .outer-wrapper .content-section .inner-wrapper {
        max-width: 700px;
        width: 100%;
        margin: 0 auto; }
        @media only screen and (min-width: 700px) {
          .main-body .outer-wrapper .content-section .inner-wrapper {
            max-width: 896px; } }
        @media only screen and (min-width: 950px) {
          .main-body .outer-wrapper .content-section .inner-wrapper {
            max-width: 1099.98px; } }

.style-headline {
  -webkit-display: flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-weight: 400; }

.section-headline-container, .section-content-container {
  padding: 18px;
  width: 100%;
  box-sizing: border-box; }

.primary-headline {
  font-weight: 700;
  font-size: 28.08px; }
  @media only screen and (min-width: 700px) {
    .primary-headline {
      font-size: 36px; } }
  @media only screen and (min-width: 950px) {
    .primary-headline {
      font-size: 45px; } }

.secondary-headline {
  font-size: 21.6px; }
  @media only screen and (min-width: 700px) {
    .secondary-headline {
      font-size: 27px; } }
  @media only screen and (min-width: 950px) {
    .secondary-headline {
      font-size: 36px; } }

.third-headline {
  font-size: 18px; }
  @media only screen and (min-width: 700px) {
    .third-headline {
      font-size: 21.6px; } }
  @media only screen and (min-width: 950px) {
    .third-headline {
      font-size: 27px; } }

.primary-content {
  font-size: 14.4px;
  line-height: 1.4;
  margin-bottom: 18px; }
  .primary-content.bold {
    font-weight: 700; }
  .primary-content.light {
    font-weight: 300; }
  @media only screen and (min-width: 700px) {
    .primary-content {
      font-size: 16.2px; } }
  @media only screen and (min-width: 950px) {
    .primary-content {
      font-size: 18px; } }

.secondary-content {
  font-size: 12.24px;
  line-height: 1.4;
  margin-bottom: 15.3px; }
  .secondary-content.bold {
    font-weight: 700; }
  .secondary-content.light {
    font-weight: 300; }
  @media only screen and (min-width: 700px) {
    .secondary-content {
      font-size: 13.77px; } }
  @media only screen and (min-width: 950px) {
    .secondary-content {
      font-size: 15.3px; } }

.list {
  text-decoration: none;
  margin: 0;
  padding: 0; }

.underline {
  text-decoration: underline; }

.btn {
  display: block;
  width: 100%;
  font-size: 18px;
  font-family: "Oxygen", sans-serif;
  padding: 18px 0;
  margin: 18px 0;
  color: #FDFFFD;
  border-radius: 2.25px;
  transition: 0.3s all ease-in-out; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    cursor: pointer;
    color: #2f2f2f; }
  .btn.primary-action {
    background-color: #4ED65F;
    border: 1.125px solid #4ED65F;
    box-sizing: border-box; }
    .btn.primary-action:hover {
      background-color: #0AB71F;
      border: 1.125px solid #74E482;
      box-sizing: border-box; }
  .btn.secondary-action {
    background-color: #FF655D;
    border: 1.125px solid #FF655D;
    box-sizing: border-box; }
    .btn.secondary-action:hover {
      background-color: #EC170C;
      border: 1.125px solid #FF8882;
      box-sizing: border-box; }
    .btn.secondary-action.submit {
      padding: 18px 36px; }
  @media only screen and (min-width: 700px) {
    .btn {
      width: auto;
      padding: 18px; } }

.img {
  width: 100%;
  background-color: #E6F0E5; }
  .img.portrait {
    width: 40vw;
    height: auto; }
    @media only screen and (min-width: 700px) {
      .img.portrait {
        width: 30vw; } }
    @media only screen and (min-width: 950px) {
      .img.portrait {
        width: 20vw; } }
  .img.featured-img {
    height: auto; }

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
  outline: none; }

.form {
  padding: 18px 0;
  background-color: #E6F0E5;
  border: 2.25px solid #2f2f2f;
  color: #2f2f2f;
  border-radius: 2.25px; }
  .form .form-group {
    margin: 18px;
    margin-bottom: 36px; }
    .form .form-group .label, .form .form-group .text-area, .form .form-group .text-input, .form .form-group .select, .form .form-group .password-input, .form .form-group .email-input {
      display: block;
      width: 100%; }
    .form .form-group .text-area, .form .form-group .text-input, .form .form-group .select, .form .form-group .option, .form .form-group .password-input, .form .form-group .email-input {
      margin: 18px 0;
      box-sizing: border-box;
      font-size: 18px; }
    .form .form-group .text-area, .form .form-group .text-input, .form .form-group .password-input, .form .form-group .email-input {
      border: 1.125px solid #0AB71F;
      box-sizing: border-box;
      border-radius: 2.25px;
      padding: 9px; }
    .form .form-group .label {
      font-size: 21.6px; }
    .form .form-group .text-area {
      min-height: 72px; }
    .form .form-group .select {
      outline: none;
      -webkit-appearance: none;
      display: block;
      padding: 2.25px;
      font-size: 18px;
      border-radius: 2.25px;
      border: 1.125px solid #74E482;
      box-sizing: border-box; }

.alerts {
  width: 100%;
  height: 450px;
  background-color: #2f2f2f; }

.alert-modal {
  -webkit-display: flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  width: 100%; }
  .alert-modal .alert-box {
    height: 100%;
    width: 100%;
    max-height: 360px;
    max-width: 540px;
    background-color: #FDFFFD; }

/*# sourceMappingURL=main.css.map */
