<div class="inner-wrapper">
  <div class="section-content-container">
    <div class="section-container-headline">
      <h2 class="secondary-headline">Bikes</h2>
    </div>
  </div>
  <div class="bike-collection-container">
    <!-- repeat -->
    <div class="section-content-container bike-details-container" ng-repeat="bike in user.bikes">
      <div class="section-content-container">
        <img class="img gallery-img">
      </div>
      <div class="section-container-headline">
        <h2 class="secondary-headline">{{bike.year}} | {{bike.brand}} | {{bike.model}}</h2>
      </div>
    </div>
  </div>
</div>
