<div class="inner-wrapper">
  <div class="section-content-container">
    <div class="section-container-headline">
      <h2 class="secondary-headline">Bikes</h2>
    </div>
  </div>
  <div class="bike-collection-container">
    <!-- repeat -->
    <div class="section-content-container bike-details-container">
      <div class="section-content-container">
        <img class="img gallery-img">
      </div>
      <div class="section-container-headline">
        <h2 class="secondary-headline">2017 | Bike Brand | Bike Model</h2>
      </div>
    </div>
    <!-- repeated bike template -->
    <div class="section-content-container bike-details-container">
      <div class="section-content-container">
        <img class="img gallery-img">
      </div>
      <div class="section-container-headline">
        <h2 class="secondary-headline">2014 | Bike Brand 2 | Bike Model 2</h2>
      </div>
    </div>
    <!-- repeated bike template -->
    <div class="section-content-container bike-details-container">
      <div class="section-content-container">
        <img class="img gallery-img">
      </div>
      <div class="section-container-headline">
        <h2 class="secondary-headline">2014 | Bike Brand 2 | Bike Model 2</h2>
      </div>
    </div>
  </div>
</div>
