<div class="modal-window">
  <div class="close-modal" ng-click="toggleProfileUpdateForm()">
    <span>X</span>
  </div>
  <form class="form">
    <div class="section-container-headline">
      <h2 class="secondary-headline">Edit Profile</h2>
    </div>
    <div class="form-group">
      <label class="label">Username</label>
      <input type="text" class="text-input" ng-model="user.profile.username"/>
    </div>
    <div class="form-group">
      <label class="label">First Name</label>
      <input type="text" class="text-input" ng-model="user.profile.firstname"/>
    </div>
    <div class="form-group">
      <label class="label">Last Name</label>
      <input type="text" class="text-input" ng-model="user.profile.lastname"/>
    </div>
    <div class="form-group">
      <label class="label">Location</label>
      <input type="text" class="text-input" ng-model="user.location.city"/>
    </div>
    <div class="form-group">
      <label class="label">Zip Code</label>
      <input type="number" class="text-input" ng-model="user.location.zipcode"/>
    </div>
    <div class="form-group">
      <label class="label">Fitness Level</label>
      <input type="text" class="text-input" ng-model="user.fitness.fitnessLevel"/>
    </div>
    <div class="form-group">
      <label class="label">Skill Level</label>
      <input type="text" class="text-input" ng-model="user.fitness.skillLevel"/>
    </div>
    <div class="form-group">
      <button class="btn primary-action" ng-click="updateProfile(user)">Submit</button>
    </div>
  </form>
</div>
