<div class="inner-wrapper">
  <div class="section-content-container">
    <div class="section-container-headline">
      <h2 class="secondary-headline">About User</h2>
    </div>
    <p class="primary-content bold"><strong>Likes these kinds of rides:</strong></p>
    <p class="primary-content">{{user.fitness.preference}}</p>
    <p class="primary-content bold"><strong>Comfort Level</strong></p>
    <div class="skill-container">
      <div class="skill-icon double-black-diamond">
        <div class="skill-icon black-diamond"></div>
        <div class="skill-icon black-diamond"></div>
      </div>
    </div>
  </div>
</div>
