<div class="inner-wrapper">
  <div class="section-content-container">
    <div class="section-container-headline">
      <h2 class="secondary-headline">Recommended Trails</h2>
    </div>
  </div>
  <div class="trail-recommendation-container">
    <!-- repeat -->
    <div class="section-content-container trail-detail-container">
      <div class="section-content-container">
        <img class="img gallery-img">
      </div>
      <div class="section-container-headline">
        <h2 class="secondary-headline">Trail Name</h2>
      </div>
      <div class="section-content-container">
        <p class="primary-content">Trail Region, USA</p>
        <p class="secondary-content">Keywords: Technical, Epic, Downhill, Jumps</p>
        <a href="#" class="link">Trail Details</a>
      </div>
    </div>
    <!-- repeated trail -->
    <div class="section-content-container trail-detail-container">
      <div class="section-content-container">
        <img class="img gallery-img">
      </div>
      <div class="section-container-headline">
        <h2 class="secondary-headline">Trail Name</h2>
      </div>
      <div class="section-content-container">
        <p class="primary-content">Trail Region, USA</p>
        <p class="secondary-content">Keywords: Technical, Epic, Downhill, Jumps</p>
        <a href="#" class="link">Trail Details</a>
      </div>
    </div>
  </div>
</div>
