<div class="inner-wrapper">
  <div class="section-content-container">
    <img class="img portrait" src=""/>
  </div>
  <div class="section-content-container">
    <div class="section-container-headline">
      <h2 class="secondary-headline">{{user.profile.firstname}} {{user.profile.lastname}}</h2>
    </div>
    <div class="section-content-container">
      <p class="primary-content">{{user.profile.username}}</p>
      <p class="primary-content">{{user.location.city}}</p>
    </div>
  </div>
</div>
