<fieldset class="rating-stars" ng-value="ratingValue">
  <input type="radio" id="star-5" class="star" name="rating" value="5"><label class="full" for="star-5"></label>
  <input type="radio" id="star-45" class="star" name="rating" value="4.5"><label class="half" for="star-45"></label>
  <input type="radio" id="star-4" class="star" name="rating" value="4"><label class="full" for="star-4"></label>
  <input type="radio" id="star-35" class="star" name="rating" value="3.5"><label class="half" for="star-35"></label>
  <input type="radio" id="star-3" class="star" name="rating" value="3"><label class="full" for="star-3"></label>
  <input type="radio" id="star-25" class="star" name="rating" value="2.5"><label class="half" for="star-25"></label>
  <input type="radio" id="star-2" class="star" name="rating" value="2"><label class="full" for="star-2"></label>
  <input type="radio" id="star-15" class="star" name="rating" value="1.5"><label class="half" for="star-15"></label>
  <input type="radio" id="star-1" class="star" name="rating" value="1"><label class="full" for="star-1"></label>
  <input type="radio" id="star-05" class="star" name="rating" value="0.5"><label class="half" for="star-05"></label>
</fieldset>
