<div class="inner-wrapper">
  <div class="section-content-container">
    <div class="section-container-headline">
      <h2 class="secondary-headline">Posted Reviews</h2>
    </div>
  </div>
  <div class="review-container">
    <!-- repeat -->
    <div class="section-content-container review-detail-container" ng-repeat="review in reviews track by $index">
      <div class="section-content-container">

        <div class="section-headline-container">
          <h2 class="secondary-headline">{{review.trailTitle}}</h2>
          <span class="secondary-content" ng-show="totalTrails">(198 reviews)</span><!-- hide this element when in dashboard show in trail details template -->
        </div>
        <div class="section-content-container">
          <p class="secondary-content"><strong>by: </strong> {{user.profile.username}}</p>
          <p class="secondary-content"><strong>Date:</strong> {{review.date | date: 'fullDate'}}</p>
          <p class="secondary-content rating"><strong>Rating: </strong> <span class="section-content-container" ng-include="'views/partials/components/rating_template.html'"></span></p>
          <p class="primary-content"><strong>Review:</strong> {{review.comment}}</p>
        </div>

        <div class="section-content-container review-images">
          <!-- repeat -->
          <div class="review-image" ng-repeat="picture in review.pictures" ng-show="picture">
            <div class="section-content-container">
              <img class="img gallery-img">
            </div>
          </div>

        </div><!-- end image section -->

      </div>
    </div>
  </div>
</div>
