<div class="inner-wrapper">
  <div class="section-content-container">
    <div class="section-container-headline">
      <h2 class="primary-headline">{{trail.title}}</h2>
    </div>
  </div>
  <div class="section-content-container">
    <p class="primary-content"><strong>City:</strong>{{trail.city || "Not Specified"}}</p>
    <p class="primary-content"><strong>Overall Rating:</strong> 4.5</p>
    <p class="primary-content"><strong>Trail Intensity:</strong>{{trail.profile.fitnessLevel}}</p>
    <p class="primary-content"><strong>Skill Level:</strong>{{trail.profile.skillLevel}}</p>
  </div>
  <div class="section-content-container">
    <div class="section-container-headline">
      <h2 class="secondary-headline">About {{trail.title}}</h2>
    </div>
    <p class="primary-content">{{trail.profile.description}}</p>
    <p class="primary-content author"><strong>Written by:</strong> Brian Wynn</p>
  </div>
</div>
