<div class="inner-wrapper">
  <div class="section-content-container">
    <div class="section-container-headline">
      <h2 class="primary-headline">Airborne</h2>
    </div>
  </div>
  <div class="section-content-container">
    <p class="primary-content"><strong>City:</strong> Santa Cruz, CA.</p>
    <p class="primary-content"><strong>Overall Rating:</strong> 4.5</p>
    <p class="primary-content"><strong>Trail Intensity:</strong> Strenuous</p>
    <p class="primary-content"><strong>Skill Level:</strong> Advanced</p>
  </div>
  <div class="section-content-container">
    <div class="section-container-headline">
      <h2 class="secondary-headline">About Airborne</h2>
    </div>
    <p class="primary-content">A slinky and challenging downhill through the hills behind UCSC. This trail is just about ground zero for quintessential Santa Cruz mountain biking. It winds through the redwoods, down a variety of sections ranging from steep and rutted out to flowing and twisting around the trees. Some big booters are available throughout the trail, but there are always ways around without sacrificing your flow should you choose to keep the rubber on the ground.</p>
    <p class="primary-content author"><strong>Written by:</strong> Brian Wynn</p>
  </div>
</div>
