// global elements declarations
body {
  font-family: $font;
  font-size: $em;
  font-weight: $normal;
  color: $black;
  background-color: $white;
  margin: 0;
}

div, section {
  @include strip;
}

strong {
  font-weight: 700;
}

// global class declarations
.main-body {
  @include strip;
  width: $full;
  min-height: $full-height;
  position: absolute;
  top: $em*2.5;
  z-index: 1;
  .outer-wrapper {
    width: $inherit;
    min-height: $inherit;
    .content-section {
      width: $full;
      min-height: $em*20;
      @include large {
        min-height: $em*15.625;
      }
      .inner-wrapper {
        max-width: $max-width;
        width: $full;
        margin: $center;
        @include large {
          max-width: $max-width*1.3;
        }
      }
    }
  }
}

.angular-google-map, #map {
  display: block;
  height: 400px;
  width: 400px;
}

// style guide declarations - exclusive to formatting of style guide
.style-headline {
  @include flex;
  @include align-items;
  background-image: url('../templates/img/background_hero.jpg');
  background-size: cover;
  background-position: center;
  color: $white;
  min-height: $em*20;
}
