// images
.img {
  width: $full;
  background-color: $grey;
  display: block;
  &.portrait {
    width: $em*10;
    height: auto;
    margin: $center;
  }
  &.featured-img {
    height: auto;
  }
  &.gallery-img {
    height: $em*15;
    min-width: $em*15;
    @include medium {
      height: $em*10;
    }
  }
}
