// FORMATTING MIXINS

// flexbox mixins
@mixin flex {
  -webkit-display: flex;
  display: flex;
}

@mixin flex-wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

@mixin align-items {
  -webkit-align-items: center;
  align-items: center;
}

@mixin justify-content {
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin align-content-center {
  -webkit-align-content: center;
  align-content: center;
}

@mixin flex-child {
  width: $full;
  flex: 1 0; // safari fix for all flex children
}

@mixin wrapped {
  @include flex;
  @include flex-wrap;
}

// media query mixins
@mixin medium {
  @media only screen and (min-width: #{$medium}) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: #{$large}) {
    @content;
  }
}

// content mixins
@mixin strip {
  margin: 0;
  padding: 0;
}

@mixin content($size) {
  font-size: $size*.8;
  line-height: 1.4;
  margin-bottom: $size;
  &.bold {
    font-weight: $bold;
  }
  &.light {
    font-weight: $light;
  }
  @include medium {
    font-size: $size*.9;
  }
  @include large {
    font-size: $size;
  }
}

@mixin transition($timing, $easing) {
  transition: $timing all $easing;
}

@mixin borders($color) {
  border: $em/16 solid $color;
  box-sizing: border-box;
}

@mixin buttons($color) {
  background-color: $color;
  @include borders($color);
}
