// variables

// sizing/spacing vars
$em: 18px;
$full: 100%;
$full-width: 100vw;
$full-height: 100vh;
$max-width: 700px;
$center: 0 auto; // margin: 0 auto;
$center-spaced: $em auto;
$inherit: inherit;
$horizontal-align: 0 $em;
$vertical-align: $em 0;

// fonts/ weights
$font: 'Oxygen', sans-serif;
$normal: 400;
$light: 300;
$bold: 700;

// colors
$primary: #4ED65F;
$primary-light: #74E482;
$primary-dark: #0AB71F;
$secondary: #FF655D;
$secondary-light: #FF8882;
$secondary-dark: #EC170C;
$black: #2f2f2f;
$grey: #2C2F30;
$white: #FDFFFD;

// viewport breakpoints
$medium: 700px;
$large: 950px;

// displays
$block: block;
$inline: inline-block;
