<div class="nav-headline">
  <div class="section-headline-container">
    <a href="/"><h1>MtnBikeTrailGuide.com</h1></a>
  </div>
</div>
<div class="nav-button">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>
<nav class="drop-nav">
  <ul>
    <li ng-hide="loggedIn"><a href="/login">Log In</a></li>
    <li ng-hide="loggedIn"><a href="/signup">Sign Up</a></li>
    <li ng-show="loggedIn"><a href="/profile">Profile</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/find_trails">Find Trails</a></li>
    <li><a href="/contact">Contact</a></li>
    <li ng-show="loggedIn"><a href="/logout">Log Out</a></li>
  </ul>
</nav>
