<ul class="menu-item-list">
  <li ng-hide="loggedIn" class="list-item"><a href="/login" ng-show="!loginView" ng-click="toggleMenu()">Log In</a></li>
  <li ng-hide="loggedIn" class="list-item"><a href="/signup" ng-show="!signupView" ng-click="toggleMenu()">Sign Up</a></li>
  <li ng-show="loggedIn" class="list-item"><a href="/dashboard" ng-click="toggleMenu()">Profile</a></li>
  <li class="list-item"><a href="/find_trails" ng-click="toggleMenu()">Find Trails</a></li>
  <li class="list-item"><a href="/users" ng-click="toggleMenu()">Find All Users</a></li>
  <li class="list-item"><a href="/about" ng-click="toggleMenu()">About</a></li>
  <li class="list-item"><a href="/contact" ng-click="toggleMenu()">Contact</a></li>
  <li ng-show="loggedIn" class="list-item"><a href="/logout" ng-click="toggleMenu()">Log Out</a></li>
</ul>
