.profile-section, .bikes-section, .review-section, .recommended-trails, .experience-section {
  .section-container-headline {
    padding: $horizontal-align;
  }
}

.bike-collection-container, .trail-recommendation-container {
  .section-content-container  {
    //padding: $em 0;
    .section-container-headline {
      padding-left: 0;
      @include medium {
        padding: $em;
      }
    }
  }
}

.profile-section {
  @include flex;
  @include align-items;
  margin-top: $em*3;
  .inner-wrapper {
    @include flex;
    @include flex-wrap;
    .profile-picture, .profile-details {
      width: $full;
      @include medium {
        width: $full*.5;
      }
    }
  }
  .section-content-container {
    &.profile-picture {
      position: relative;
      z-index: 1;
      .profile-picture-container {
        width: $full;
        margin: 0 auto;
        max-width: $em*15;
        .image-upload-icon {
          position: relative;
          z-index: 2;
          display: block;
          margin: 0 auto 0 $em*12.61;
          top: $em*-2.2;
          @include transition(.1s, ease-in-out);
          animation: .3s fadeOut;
          .fa-camera-retro {
            margin: -1px 0 1px 1px;
          }
          @include medium {
            visibility: hidden;
            margin: 0 auto 0 $em*10.55;
          }
        }
        &:hover {
          .image-upload-icon {
            visibility: visible;
            cursor: pointer;
            animation: .3s fadeIn;
          }
        }
        @include medium {
          max-width: 270px;
        }
      }
      @include medium {
        max-width: 270px;
      }
    }
    &.profile-details {
      .section-content-container {
        .edit-profile-btn {
          height: $em*2.11;
          width: $em*2.11;
          display: block;
          color: $grey;
          @include transition(.1s, ease-in-out);
          animation: .3s fadeOut;
          margin: $center;
          .fa-pencil-square-o {
            margin: $em*.555 $em/16;
          }
          @include medium {
            visibility: hidden;
            margin: 0;
          }
        }
      }
      .section-content-container:first-child {
        padding: 0;
        .secondary-headline {
          line-height: 1;
        }
      }
      .section-content-container:last-child {
        padding-bottom: 0;
        .primary-content:last-child {
          margin-bottom: 0;
        }
      }
      &:hover {
        .edit-profile-btn {
          animation: .3s fadeIn;
          .fa-pencil-square-o {
            color: $black;
            cursor: pointer;
          }
          @include medium {
            visibility: visible;
          }
        }
      }
    }
    .section-container-headline {
      .primary-headline, .secondary-headline {
        text-align: center;
        @include medium {
          text-align: left;
        }
      }
    }
    .section-content-container {
      .primary-content, .secondary-content {
        text-align: center;
        @include medium {
          text-align: left;
        }
      }
    }
  }
}

.bikes-section {
  .inner-wrapper {
    .bike-collection-container {
      flex: none;
      .bike-details-container {
        @include flex-child;
        .section-content-container {
          padding: 0;
        }
        @include medium {
          max-width: $full/2;
        }
        @include large {
          max-width: $full/3;
        }
      }
      @include medium {
        @include wrapped;
      }
    }
  }
}

.experience-section {
  .inner-wrapper {
    .section-content-container {
      .section-container-headline {
        margin: $em*2 0;
      }
      .primary-content {
        padding-left: $em;
        &.bold {
          margin: $em*3 0 $em;
        }
      }
    }
  }
}

.recommended-trails {
  .inner-wrapper {
    .trail-recommendation-container {
      flex: none;
      .trail-detail-container {
        @include flex-child;
        .section-content-container {
          padding: 0;
          @include medium {
            padding: $em;
          }
        }
        @include medium {
          max-width: $full/2;
        }
      }
      @include medium {
        @include wrapped;
      }
    }
  }
}
