.profile-section {
  @include flex;
  @include align-items;
  margin-top: $em*3;
  .section-content-container {
    .img {
      background-color: $grey;
      height: $em*10;
    }
    .section-container-headline {
      .primary-headline, .secondary-headline {
        text-align: center;
      }
    }
    .section-content-container {
      .primary-content, .secondary-content {
        text-align: center;
      }
    }
  }
}

.bikes-section {
  .inner-wrapper {
    .bike-collection-container {
      @include flex;
    }
  }
}

.experience-section {
  .inner-wrapper {
    .section-content-container {
      .secondary-content {
        padding: $em*3 0 $em;
        margin-bottom: 0;
      }
    }
  }
}
