.profile-section, .bikes-section, .review-section, .recommended-trails, .experience-section {
  .section-container-headline {
    padding-left: $em;
  }
}

.bike-collection-container, .trail-recommendation-container {
  .section-content-container  {
    //padding: $em 0;
    .section-container-headline {
      padding-left: 0;
      @include medium {
        padding: $em;
      }
    }
  }
}

.profile-section {
  @include flex;
  @include align-items;
  margin-top: $em*3;
  .inner-wrapper {
    @include flex;
    @include flex-wrap;
    .profile-picture, .profile-details {
      width: $full;
      @include medium {
        width: $full*.5;
      }
    }
  }
  .section-content-container {
    &.profile-picture {
      position: relative;
      z-index: 1;
      .image-upload-icon {
        position: relative;
        z-index: 2;
        display: block;
        margin: 0 auto 0 61vw;
        top: $em*-2.2;
        @include medium {
          left: $em*12.61;
          margin: 0;
          display: none;
          @include transition(.1s, ease-in-out);
          animation: .3s fadeOut;
        }
      }
      &:hover {
        .image-upload-icon {
          display: block;
          cursor: pointer;
          animation: .3s fadeIn;
        }
      }
      @include medium {
        //width: $full*.5;
      }
    }
    &.profile-details {
      .section-content-container:first-child {
        padding: 0;
        .secondary-headline {
          line-height: 1;
        }
      }
      /*@include medium {
        width: $full*.5;
        display: inline-block;
      }*/
    }
    .section-container-headline {
      .primary-headline, .secondary-headline {
        text-align: center;
        @include medium {
          text-align: left;
        }
      }
    }
    .section-content-container {
      .primary-content, .secondary-content {
        text-align: center;
        @include medium {
          text-align: left;
        }
      }
    }
  }
}

.bikes-section {
  .inner-wrapper {
    .bike-collection-container {
      flex: none;
      .bike-details-container {
        @include flex-child;
        .section-content-container {
          padding: 0;
        }
        @include medium {
          max-width: $full/2;
        }
        @include large {
          max-width: $full/3;
        }
      }
      @include medium {
        @include wrapped;
      }
    }
  }
}

.experience-section {
  .inner-wrapper {
    .section-content-container {
      .section-container-headline {
        margin: $em*2 0;
      }
      .primary-content {
        padding-left: $em;
        &.bold {
          margin: $em*3 0 $em;
        }
      }
    }
  }
}

.recommended-trails {
  .inner-wrapper {
    .trail-recommendation-container {
      flex: none;
      .trail-detail-container {
        @include flex-child;
        .section-content-container {
          padding: 0;
          @include medium {
            padding: $em;
          }
        }
        @include medium {
          max-width: $full/2;
        }
      }
      @include medium {
        @include wrapped;
      }
    }
  }
}
